.attempt-data {
    ion-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        text-align: right;

        .item-heading {
            font-size: 0.9rem;
            font-weight: 500;
            color: var(--ion-color-step-700);
            text-align: left;
        }
    }
}

.congrats-wrapper {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    img {
        height: 200px;
        width: auto;
        max-width: 100%;
    }
}
