.item {
    background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));
    border-radius: var(--ion-card-radius);
    box-shadow: var(--theme-box-shadow);

    margin: var(--ion-card-vertical-margin) var(--ion-card-horizontal-margin);

    .header {
        padding: 12px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;

        .header-main {
            flex: 1;
        }

        .icon {
            transition: transform 0.3s ease;
            font-size: 18px;
        }

        &.open .icon {
            transform: rotate(180deg);
        }
    }

    .content {
        display: none;
        padding: 16px;
        padding-top: 8px;

        &.open {
            display: block;
        }
    }
}
