<ng-container *ngIf="completion">
    <ng-container *ngIf="showCompletionConditions && completion.isautomatic">
        <div *ngIf="mode == 'full'" class="core-module-automatic-completion-conditions"
            [attr.aria-label]="'core.course.completionrequirements' | translate:{ $a: moduleName }">

            <ng-container *ngIf="completion.istrackeduser">
                <ion-chip class="core-module-completion-todo" color="light">
                    <ion-icon name="fas-check-circle" aria-hidden="true" style="margin-right: 0;"></ion-icon>
                </ion-chip>
            </ng-container>

            <ng-container *ngIf="!completion.istrackeduser">
                <ion-chip class="core-module-completion-todo" color="light">
                    <ion-icon name="fas-check-circle" aria-hidden="true" style="margin-right: 0;"></ion-icon>
                </ion-chip>
            </ng-container>
        </div>

        <ng-container *ngIf="mode == 'basic' && completion.istrackeduser">
            <div class="coursecompletioninfobtn completioninfo completion_incomplete" *ngIf="completionStatus === 0" color="light">
                <ion-icon name="far-circle-check" aria-hidden="true"></ion-icon>
            </div>
            <div class="coursecompletioninfobtn completioninfo completion_complete" *ngIf="completionStatus === 1 || completionStatus === 2"
                color="success">
                <ion-icon name="fas-check-circle" aria-hidden="true"></ion-icon>
            </div>
            <div class="coursecompletioninfobtn completioninfo completion_fail" *ngIf="completionStatus === 3" color="danger">
                <ion-icon name="fas-circle-times" aria-hidden="true"></ion-icon>
            </div>
        </ng-container>

        <ng-container *ngIf="mode == 'basic' && !completion.istrackeduser">
            <div class="coursecompletioninfobtn completioninfo completion_incomplete" color="light">
                <ion-icon name="far-check-circle" aria-hidden="true"></ion-icon>
            </div>
        </ng-container>

    </ng-container>

    <core-course-module-manual-completion *ngIf="showManualCompletion" [completion]="completion" [moduleName]="moduleName"
        (completionChanged)="completionChanged.emit($event)" [mode]="mode">
    </core-course-module-manual-completion>
</ng-container>
