<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>Upload Certificate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="padding-top: 15px;padding-bottom: 15px;">
        <ion-item>
            <ion-label position="floating">Name of Certification <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" [(ngModel)]="formdata.name"></ion-input>
            <ion-text color="danger" *ngIf="formErrors.name">{{formErrors.name}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Certificate Authority Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" [(ngModel)]="formdata.institution_name"></ion-input>
            <ion-text color="danger" *ngIf="formErrors.institution_name">{{formErrors.institution_name}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Category <ion-text color="danger">*</ion-text></ion-label>
            <ion-select [(ngModel)]="formdata.category" interface="popover">
                <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ion-select-option>
            </ion-select>
            <ion-text color="danger" *ngIf="formErrors.category">{{formErrors.category}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Mode <ion-text color="danger">*</ion-text></ion-label>
            <ion-select [(ngModel)]="formdata.mode" interface="popover">
                <ion-select-option *ngFor="let m of modes" [value]="m.id">{{m.name}}</ion-select-option>
            </ion-select>
            <ion-text color="danger" *ngIf="formErrors.mode">{{formErrors.mode}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Start Date <ion-text color="danger">*</ion-text></ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="formdata.start_date" [displayTimezone]="timezone"></ion-datetime>
            <ion-text color="danger" *ngIf="formErrors.start_date">{{formErrors.start_date}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Expiry Date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="formdata.end_date" [displayTimezone]="timezone"></ion-datetime>
            <ion-text color="danger" *ngIf="formErrors.end_date">{{formErrors.end_date}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Certificate Issued Date <ion-text color="danger">*</ion-text></ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="formdata.issued_date" [displayTimezone]="timezone"></ion-datetime>
            <ion-text color="danger" *ngIf="formErrors.issued_date">{{formErrors.issued_date}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Learning Hours <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number" [(ngModel)]="formdata.learning_hours"></ion-input>
            <ion-text color="danger" *ngIf="formErrors.learning_hours">{{formErrors.learning_hours}}</ion-text>
        </ion-item>
        <ion-item>
            <ion-label>Certificate <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="file" (change)="onFileSelected($event)" accept="image/*|pdf/*"></ion-input>
            <ion-text color="danger" *ngIf="formErrors.certificate">{{formErrors.certificate}}</ion-text>
        </ion-item>
        <ion-button expand="block" (click)="upload()" style="margin-top: 20px;" [disabled]="isProcessing">Upload</ion-button>
    </div>
</ion-content>
