.filters-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;

    .side-nav {
        width: 36%;
        height: 100%;
        overflow: auto;
        background-color: var(--ion-color-light);

        .filter-name {
            padding: 12px;
            padding-left: 16px;
            font-weight: 500;
            font-size: 0.84rem;
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .count {
                font-size: 80%;
                background: var(--ion-color-primary);
                color: var(--ion-color-primary-contrast);
                border-radius: 8px;
                padding: 3px 6px;
                line-height: 1;
                padding-bottom: 2px;
                margin-left: 2px;
            }

            &.active {
                background-color: var(--ion-color-primary);
                color: var(--ion-color-primary-contrast);

                .count {
                    background: var(--ion-color-primary-contrast);
                    color: var(--ion-color-primary);
                }
            }
        }
    }

    .content {
        flex: 1;
        height: 100%;
        overflow: auto;

        .filter-name {
            font-weight: 600;
            font-size: 0.9rem;
            padding: 12px;
        }

        .checkbox-group {
            margin-bottom: 10px;

            .filter-name {
                font-weight: 500;
                color: var(--ion-color-step-500);
            }
        }

        ion-label {
            margin: 8px 0;
        }

        ion-checkbox,
        ion-radio {
            margin: 8px 0px;
        }

        ion-item {
            --min-height: 30px;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-button {
        flex: 1;
        font-weight: 500;
    }
}
