.course-review {
    margin-top: 1.2rem;
    text-align: center;

    .icons {
        ion-icon {
            margin-right: 5px;
            font-size: 2.4rem;
            color: #FFC107;
            transition: color 0.25s ease;
            cursor: pointer;
        }
    }

    &.processing {
        ion-icon {
            color: var(--ion-text-color) !important;
            opacity: 0.5;
            pointer-events: none;
        }
    }
}
