page-core-mainmenu-home ion-tab-bar.core-tabs-bar {
    display: none !important;
}

.core-header-logo {
    max-height: var(--core-mainpage-headerlogo-maxheight);
    display: var(--core-mainpage-headerlogo-display);
}

.core-login-site-logo {
    img {
        margin: auto;
    }

    .logo-light {
        display: block;
    }

    .logo-dark {
        display: none;
    }
}

.core-header-logo.logo-dark {
    display: none;
}

html.dark {
    .core-header-logo.logo-light {
        display: none;
    }

    .core-header-logo.logo-dark {
        display: block;
    }

    .core-login-site-logo {
        .logo-light {
            display: none;
        }

        .logo-dark {
            display: block;
        }
    }
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.0125em;
    text-align: start;
    min-height: 36px;
}

.courses-wrapper {
    core-collab-course {
        display: block;
        margin: 16px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.horizontal-scroll-wrapper {
    padding: 0 20px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &.courses-wrapper {
        core-collab-course {
            --width: min(82%, 480px);
            min-width: var(--width);
            width: var(--width);
            display: block;
            margin: 0;
            margin-right: 14px;

            &:last-child {
                margin-right: 0;
            }

            &[viewmode="list"] {
                --width: min(94%, 500px);
            }
        }
    }
}

.theme-mb2sliders {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0.6rem 1rem;

        li {
            --offset: 50px;
            --height: 200px;
            --width: calc(100vw - var(--offset));

            height: var(--height);
            min-width: var(--width);
            border-radius: 12px;
            scroll-snap-align: center;
            scroll-snap-stop: always;
            margin-right: 16px;
            position: relative;
            overflow: hidden;

            img {
                height: var(--height);
                width: var(--width);
                object-fit: cover;
            }

            .mb2slides-caption {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: #00000061;
                padding: 1.2rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;

                .mb2slides-title {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.2;
                }

                .mb2slides-description {
                    display: none;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 0.5rem;
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: var(--gray-300);
                }

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    z-index: 1;
                }
            }

            @media (min-width: 768px) {
                --offset: calc(80px + var(--menutabbar-size, 0));
                --height: 300px;
            }

        }
    }
}

.wrap-text {
    --lines: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    -webkit-line-clamp: var(--lines);
}

html.dark page-core-course-summary .course-sections {
    --img-filter: invert(1);
}

core-catalogue-filters ion-searchbar {
    border: 0;
    margin: 6px 0;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .searchbar-input {
        border: none !important;
        border-bottom: 1px solid var(--border-color) !important;
    }
}

div.coursecompletioninfobtn {
    padding: 0 10px;
}

.coursecompletioninfobtn {
    --fs: 1.2rem;
    min-height: var(--a11y-min-target-size) !important;
    min-width: var(--a11y-min-target-size) !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    --core-input-border-width: 0;
    --padding-start: 10px;
    --padding-end: 0;
    margin: 0 !important;

    ion-icon {
        font-size: var(--fs) !important;
    }

    &.no-details-found {
        color: var(--ion-color-step-400);
    }

    &.completion_incomplete {
        color: var(--ion-color-step-500);
    }

    &[color="success"] {
        color: var(--ion-color-success);
    }
}

core-course-module core-mod-icon img {
    --filter: none !important;
}

html.dark core-course-module core-mod-icon img {
    --filter: brightness(0) invert(1) !important;
}

core-course-format .core-course-module-list-wrapper {
    background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    margin: 14px !important;
    padding: 12px;
    border-radius: var(--ion-card-radius);
    box-shadow: var(--box-shadow);
    padding-top: 8px;

    .course-section {
        --padding-start: 0;
        --inner-padding-end: 0;
        min-height: 0;
        background: transparent;

        ion-label {
            margin: 0;
            --item-divider-font-size: 0.8rem;
        }
    }

    core-mod-icon {
        margin-left: 6px;
        --module-icon-size: 18px;
        margin-top: 15px;
    }

    ion-card {
        --horizontal-margin: 0;
        --vertical-margin: 0;

        ion-item {
            --background: transparent;
            --padding-end: 0;
            --inner-padding-end: 0;
            --min-height: 0;
            --padding-start: 0;
        }
    }

    ion-item.core-module-main-item {
        --min-height: unset;
        --padding-start: 0;
        align-items: flex-start;
    }

    .core-module-title .item-heading {
        font-size: 14px;
    }

    .core-module-buttons-more ion-button {
        min-width: 0;
        --padding-end: 0;
        --padding-start: 0;

        ion-icon {
            font-size: 1.1rem;
        }
    }
}
