@import '~theme/globals.scss';

:host {
    .core-format-progress-list {
        width: 100%;
    }

    .core-course-thumb {
        height: var(--core-courseimage-on-course-size);
        min-height: var(--core-courseimage-on-course-size);
        width: var(--core-courseimage-on-course-size);
        min-width: var(--core-courseimage-on-course-size);
        --border-radius: var(--core-courseimage-radius);
        @include margin(8px, 16px, 8px, 0px);

        @for $i from 0 to length($core-course-image-background) {
            &.course-color-#{$i} {
                --course-color: var(--core-course-color-#{$i});
                --course-color-tint: var(--core-course-color-#{$i}-tint);
            }
        }

        ion-icon.course-icon {
            padding: 12px;
            font-size: calc(var(--core-courseimage-on-course-size) - 24px);
            border-radius: var(--border-radius);
            color: var(--course-color-tint);
            background: var(--course-color, transparent);
        }
    }

    @if ($core-hide-courseimage-on-course) {
        .core-course-thumb {
            display: none;
        }
    }

    @if ($core-hide-progress-on-course) {
        .core-course-progress {
            display: none;
        }
    }

    h1 {
        font-size: 20px;
    }

    .core-course-header {
        background: var(--ion-item-background);
    }
}

.course-review {
    display: flex;
    align-items: center;

    .icons {
        ion-icon {
            margin-right: 5px;
            font-size: 1.4rem;
            color: #FFC107;
            transition: color 0.25s ease;
        }

        &.edit {
            ion-icon {
                cursor: pointer;
            }
        }
    }

    .edit-btn {
        margin-left: 10px;

        ion-icon {
            font-size: 1.1rem;
            transition: color 0.25s ease;
        }
    }

    &.processing {
        ion-icon {
            color: var(--ion-text-color) !important;
            opacity: 0.5;
            pointer-events: none;
        }
    }
}
