<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <h1 *ngIf="badge">{{ badge.name }}</h1>
            <h1 *ngIf="!badge">{{ 'addon.badges.badges' | translate }}</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [core-swipe-navigation]="badges" class="limited-width">
    <ion-refresher slot="fixed" [disabled]="!badgeLoaded" (ionRefresh)="refreshBadges($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>
    <core-loading [hideUntil]="badgeLoaded">
        <ion-item-group *ngIf="badge">
            <ion-item class="ion-text-wrap ion-text-center">
                <ion-label>
                    <img *ngIf="badge.badgeurl" class="large-avatar" [src]="badge.badgeurl" core-external-content [alt]="badge.name" />
                    <ion-badge color="danger" *ngIf="badge.dateexpire && currentTime >= badge.dateexpire">
                        {{ 'addon.badges.expired' | translate }}
                    </ion-badge>
                </ion-label>
            </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="user && false">
            <ion-item-divider>
                <ion-label>
                    <h2>{{ 'addon.badges.recipientdetails' | translate}}</h2>
                </ion-label>
            </ion-item-divider>
            <ion-item class="ion-text-wrap">
                <ion-label>
                    <p class="item-heading">{{ 'core.name' | translate}}</p>
                    <p>{{ user.fullname }}</p>
                </ion-label>
            </ion-item>
        </ion-item-group>

        <ng-container *ngIf="badge">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ 'addon.badges.issuerdetails' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="inner-content" *ngIf="badge.issuername">
                        <p class="item-heading">{{ 'addon.badges.issuername' | translate}}</p>
                        <p>{{ badge.issuername }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.issuercontact">
                        <p class="item-heading">{{ 'addon.badges.contact' | translate}}</p>
                        <p><a href="mailto:{{badge.issuercontact}}" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ badge.issuercontact }}
                            </a></p>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ 'addon.badges.badgedetails' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="inner-content" *ngIf="badge.name">
                        <p class="item-heading">{{ 'core.name' | translate}}</p>
                        <p>{{ badge.name }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.version">
                        <p class="item-heading">{{ 'addon.badges.version' | translate}}</p>
                        <p>{{ badge.version }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.language">
                        <p class="item-heading">{{ 'addon.badges.version' | translate}}</p>
                        <p>{{ badge.version }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.description">
                        <p class="item-heading">{{ 'core.description' | translate}}</p>
                        <p>{{ badge.description }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.imageauthorname">
                        <p class="item-heading">{{ 'addon.badges.imageauthorname' | translate}}</p>
                        <p>{{ badge.imageauthorname }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.imageauthoremail">
                        <p class="item-heading">{{ 'addon.badges.imageauthoremail' | translate}}</p>
                        <p>
                            <a href="mailto:{{badge.imageauthoremail}}" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ badge.imageauthoremail }}
                            </a>
                        </p>
                    </div>
                    <div class="inner-content" *ngIf="badge.imageauthorurl">
                        <p class="item-heading">{{ 'addon.badges.imageauthorurl' | translate}}</p>
                        <p><a [href]="badge.imageauthorurl" core-link auto-login="no">{{ badge.imageauthorurl }}</a></p>
                    </div>
                    <div class="inner-content" *ngIf="badge.imagecaption">
                        <p class="item-heading">{{ 'addon.badges.imagecaption' | translate}}</p>
                        <p>{{ badge.imagecaption }}</p>
                    </div>
                    <div class="inner-content" *ngIf="course">
                        <p class="item-heading">{{ 'core.course' | translate}}</p>
                        <p>
                            <core-format-text [text]="course.fullname" contextLevel="course" [contextInstanceId]="courseId">
                            </core-format-text>
                        </p>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ 'addon.badges.issuancedetails' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="inner-content" *ngIf="badge.dateissued">
                        <p class="item-heading">{{ 'addon.badges.dateawarded' | translate}}</p>
                        <p>{{badge.dateissued * 1000 | coreFormatDate }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.dateexpire && badge.dateexpire > 0">
                        <p class="item-heading">{{ 'addon.badges.expirydate' | translate}}</p>
                        <p>
                            {{ badge.dateexpire * 1000 | coreFormatDate }}
                            <span class="text-danger" *ngIf="currentTime >= badge.dateexpire">
                                {{ 'addon.badges.warnexpired' | translate }}
                            </span>
                        </p>
                    </div>
                </ion-card-content>
            </ion-card>

            <!-- Endorsement -->
            <ion-card *ngIf="badge.endorsement">
                <ion-card-header>
                    <ion-card-title>{{ 'addon.badges.bendorsement' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="inner-content" *ngIf="badge.endorsement.issuername">
                        <p class="item-heading">{{ 'addon.badges.issuername' | translate}}</p>
                        <p>{{ badge.endorsement.issuername }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.endorsement.issueremail">
                        <p class="item-heading">{{ 'addon.badges.issueremail' | translate}}</p>
                        <p>
                            <a href="mailto:{{badge.endorsement.issueremail}}" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ badge.endorsement.issueremail }}
                            </a>
                        </p>
                    </div>
                    <div class="inner-content" *ngIf="badge.endorsement.issuerurl">
                        <p class="item-heading">{{ 'addon.badges.issuerurl' | translate}}</p>
                        <p><a [href]="badge.endorsement.issuerurl" core-link auto-login="no"> {{ badge.endorsement.issuerurl }} </a></p>
                    </div>
                    <div class="inner-content" *ngIf="badge.endorsement.dateissued">
                        <p class="item-heading">{{ 'addon.badges.dateawarded' | translate}}</p>
                        <p>{{ badge.endorsement.dateissued * 1000 | coreFormatDate }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.endorsement.claimid">
                        <p class="item-heading">{{ 'addon.badges.claimid' | translate}}</p>
                        <p><a [href]="badge.endorsement.claimid" core-link auto-login="no"> {{ badge.endorsement.claimid }} </a></p>
                    </div>
                    <div class="inner-content" *ngIf="badge.endorsement.claimcomment">
                        <p class="item-heading">{{ 'addon.badges.claimcomment' | translate}}</p>
                        <p>{{ badge.endorsement.claimcomment }}</p>
                    </div>
                </ion-card-content>
            </ion-card>

            <!-- Related badges -->
            <ion-card *ngIf="false && badge.relatedbadges">
                <ion-card-header>
                    <ion-card-title>{{ 'addon.badges.relatedbages' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="inner-content" *ngFor="let relatedBadge of badge.relatedbadges">
                        <p class="item-heading">{{ relatedBadge.name }}</p>
                    </div>
                    <div class="inner-content" *ngIf="badge.relatedbadges.length == 0">
                        <p class="item-heading">{{ 'addon.badges.norelated' | translate}}</p>
                    </div>
                </ion-card-content>
            </ion-card>

            <!-- Competencies alignment -->
            <ion-item-group *ngIf="false && badge.alignment">
                <ion-item-divider>
                    <ion-label>
                        <h2>{{ 'addon.badges.alignment' | translate}}</h2>
                    </ion-label>
                </ion-item-divider>
                <ion-item class="ion-text-wrap" *ngFor="let alignment of badge.alignment" [href]="alignment.targeturl" core-link
                    auto-login="no">
                    <ion-label>
                        <p class="item-heading">{{ alignment.targetname }}</p>
                    </ion-label>
                </ion-item>
                <ion-item class="ion-text-wrap" *ngIf="badge.alignment.length == 0">
                    <ion-label>
                        <p class="item-heading">{{ 'addon.badges.noalignment' | translate}}</p>
                    </ion-label>
                </ion-item>
            </ion-item-group>
        </ng-container>
    </core-loading>
</ion-content>
