.catalogue-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 4;
    background: var(--ion-background-color);

    .search-wrapper {
        flex: 1;
    }

    .filter-wrapper {
        .filter-btn {
            .count {
                font-size: 0.7rem;
                font-weight: 600;
                position: absolute;
                top: 5px;
                right: -6px;
                padding: 2px 4px;
            }
        }
    }
}

.catalogue-courses-wrapper core-collab-course {
    display: block;
    margin: 1rem var(--ion-card-horizontal-margin);

    &:first-child {
        margin-top: 0;
    }
}
