<core-navbar-buttons slot="end" prepend></core-navbar-buttons>
<ion-content>
    <ion-refresher slot="fixed" [disabled]="!dataLoaded" (ionRefresh)="doRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>
    <core-loading [hideUntil]="dataLoaded">
        <h1 class="greetings">Welcome, {{user?.fullname}}</h1>
        <h2 class="greetings-sub-title">You have spent <span>{{ timeSpent }}</span> in {{ thisMonthYear }}</h2>
        <div class="theme-mb2sliders" [innerHTML]="sliders" (click)="sliderClicked($event)"></div>
        <h3 class="section-title">
            <span>Statistics</span>
        </h3>
        <div class="statistics-block mock-block">
            <div class="data">
                <div class="item" *ngFor="let statistic of statistics">
                    <ion-icon [name]="statistic.icon" [style]="'color: ' + statistic.color"></ion-icon>
                    <div class="details">
                        <div class="title">{{ statistic.title }}</div>
                        <div class="value">{{ statistic.value }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="matrix-boxes mock-block">
            <div class="matrix-box" [style]="'--color: '+ matrix.color" *ngFor="let matrix of matrixBoxes">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 53 52" fill="none">
                    <path opacity="0.3" d="M1.50586 2C10.31 24.9071 32.5668 65.3634 51.161 43.9317" stroke="#FFF" stroke-width="3"
                        stroke-linecap="round"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="60" viewBox="0 0 78 49" fill="none">
                    <path opacity="0.3" d="M1.67822 2C16.6478 32.0115 52.5017 77.2596 76.161 18.16" stroke="#FFF" stroke-width="3"
                        stroke-linecap="round"></path>
                </svg>
                <div class="matrix-title">{{matrix.title}}</div>
                <span class="matrix-count">{{matrix.value}}</span>
                <core-progress-bar [progress]="matrix.percentage_int" class="progress" [showText]="false"></core-progress-bar>
                <div class="progress-percent">{{matrix.percentage}}</div>
            </div>
        </div>
        <h3 class="section-title">
            <span>My Courses</span>
            <ion-select fill="clear" color="dark" size="small" class="ion-no-margin" (ionChange)="triggerchange($event)" value="0"
                label="Filter by status" title="Filter by status">
                <ion-select-option *ngFor="let status of statuses" [value]="status.value">{{status.label}}</ion-select-option>
            </ion-select>
        </h3>
        <div class="courses-wrapper horizontal-scroll-wrapper" id="mycourses-block">
            <core-collab-course *ngFor="let course of myCourses" [course]="course" viewmode="card"
                contentType="course"></core-collab-course>
        </div>
        <div class="no-courses" *ngIf="!myCourses.length">
            No courses found
        </div>
        <h3 class="section-title" *ngIf="myPrograms.length">
            <span>My Programs</span>
        </h3>
        <div class="courses-wrapper horizontal-scroll-wrapper" *ngIf="myPrograms.length">
            <core-collab-course *ngFor="let program of myPrograms" [course]="program" viewmode="card"
                contentType="program"></core-collab-course>
        </div>
        <h3 class="section-title" *ngIf="certificates.length">
            <span>My Certificates</span>
        </h3>
        <div class="certificates-wrapper horizontal-scroll-wrapper" *ngIf="certificates.length">
            <div class="certificate" *ngFor="let certificate of certificates">
                <div class="img-wrapper">
                    <img [src]="certificate.imageurl" [alt]="certificate.name" core-external-content>
                </div>
                <div class="name wrap-text">{{certificate.name}}</div>
                <ion-button color="secondary" size="small" class="ion-no-margin" expand="block" core-link
                    [href]="certificate.downloadurl + '&wstoken=' + wstoken" [autoLogin]="false" [showBrowserWarning]="false">
                    <ion-label>Download</ion-label>
                    <ion-icon name="download"></ion-icon>
                </ion-button>
            </div>
        </div>
        <h3 class="section-title" *ngIf="badges.length">
            <span>My Badges</span>
            <ion-button fill="clear" color="dark" size="small" class="ion-no-margin" (click)="goToBadges()">
                <ion-label>View All</ion-label>
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
        </h3>
        <div class="badges-wrapper horizontal-scroll-wrapper" *ngIf="badges.length">
            <div class="badge" *ngFor="let badge of badges" (click)="goToBadges(badge.uniquehash)">
                <div class="img-wrapper">
                    <img [src]="badge.badgeurl" [alt]="badge.name" core-external-content>
                </div>
                <div class="name wrap-text">{{badge.name}}</div>
            </div>
        </div>
        <h3 class="section-title" *ngIf="recommendedCourses.length">
            <span>Recommended Courses</span>
        </h3>
        <div class="courses-wrapper horizontal-scroll-wrapper" *ngIf="recommendedCourses.length">
            <core-collab-course *ngFor="let course of recommendedCourses" [course]="course" viewmode="card"
                contentType="course"></core-collab-course>
        </div>
        <div style="padding: 15px;"></div>
    </core-loading>
</ion-content>
