<ng-container *ngIf="completion && !completion.isautomatic">
    <ng-container *ngIf="completion.istrackeduser">
        <ion-button *ngIf="completion.state" fill="clear" color="success" [attr.aria-label]="accessibleDescription"
            (click)="completionClicked($event)" class="coursecompletioninfobtn ion-text-wrap" [class.chip]="mode == 'basic'">
            <ion-icon name="fas-circle-check" slot="start" aria-hidden="true" style="margin-right: 0;"></ion-icon>
            <ion-icon *ngIf="completion?.offline" name="fas-arrows-rotate"
                [attr.aria-label]="'core.course.manualcompletionnotsynced' | translate" slot="end"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!completion.state" fill="clear" [attr.aria-label]="accessibleDescription" (click)="completionClicked($event)"
            class="coursecompletioninfobtn icoursecompletioninfobtn on-text-wrap" [class.chip]="mode == 'basic'">
            <ion-icon name="far-circle-check" slot="icon-only" aria-hidden="true" style="margin-right: 0;"></ion-icon>
            <ion-icon *ngIf="completion?.offline" name="fas-arrows-rotate"
                [attr.aria-label]="'core.course.manualcompletionnotsynced' | translate" slot="end"></ion-icon>
        </ion-button>
    </ng-container>

    <ng-container *ngIf="!completion.istrackeduser">
        <ion-button disabled="true" fill="clear" class="coursecompletioninfobtn ion-text-wrap" [class.chip]="mode == 'basic'">
            <ion-icon name="fas-circle-check" slot="start" aria-hidden="true" style="margin-right: 0;"></ion-icon>
        </ion-button>
    </ng-container>
</ng-container>
