<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <h1>{{ 'core.user.profile' | translate }}</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="limited-width">
    <ion-refresher slot="fixed" [disabled]="!userLoaded" (ionRefresh)="refreshUser($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>
    <core-loading [hideUntil]="userLoaded">
        <ion-list *ngIf="user">
            <ion-item class="ion-text-center core-user-profile-maininfo ion-text-wrap" lines="full">
                <core-user-avatar [user]="user" [userId]="user.id" [linkProfile]="false" [checkOnline]="!canChangeProfilePicture">
                    <ion-button class="edit-avatar" *ngIf="canChangeProfilePicture" (click)="changeProfilePicture()"
                        [attr.aria-label]="'core.user.newpicture' | translate" fill="clear">
                        <ion-icon slot="icon-only" name="fas-pen" aria-hidden="true"></ion-icon>
                    </ion-button>
                </core-user-avatar>
                <ion-label>
                    <h2>{{ user.fullname }}</h2>
                    <p *ngIf="user.address">
                        <ion-icon name="fas-location-dot" [attr.aria-hidden]="true"></ion-icon> {{ user.address }}
                    </p>
                </ion-label>
            </ion-item>

            <ion-card *ngIf="hasContact">
                <ion-card-header>
                    <ion-card-title>{{ 'core.user.contact' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="inner-content" *ngIf="user.email">
                        <p class="item-heading">{{ 'core.user.email' | translate }}</p>
                        <p>
                            <a class="core-anchor" href="mailto:{{user.email}}" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ user.email }}
                            </a>
                        </p>
                    </div>
                    <div class="inner-content" *ngIf="user.phone1">
                        <p class="item-heading">{{ 'core.user.phone1' | translate }}</p>
                        <p>
                            <a class="core-anchor" href="tel:{{user.phone1}}" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ user.phone1 }}
                            </a>
                        </p>
                    </div>
                    <div class="inner-content" *ngIf="user.phone2">
                        <p class="item-heading">{{ 'core.user.phone2' | translate }}</p>
                        <p>
                            <a class="core-anchor" href="tel:{{user.phone2}}" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ user.phone2 }}
                            </a>
                        </p>
                    </div>
                    <div class="inner-content" *ngIf="formattedAddress">
                        <p class="item-heading">{{ 'core.user.address' | translate }}</p>
                        <p>
                            <a class="core-anchor" [href]="encodedAddress" core-link auto-login="no" [showBrowserWarning]="false">
                                {{ formattedAddress }}
                            </a>
                        </p>
                    </div>
                    <div class="inner-content" *ngIf="user.city && !formattedAddress">
                        <p class="item-heading">{{ 'core.user.city' | translate}}</p>
                        <p>{{ user.city }}</p>
                    </div>
                    <div class="inner-content" *ngIf="user.country && !formattedAddress">
                        <p class="item-heading">{{ 'core.user.country' | translate}}</p>
                        <p>{{ user.country }}</p>
                    </div>
                    <div class="inner-content" *ngIf="displayTimezone && user.timezone">
                        <p class="item-heading">{{ 'core.timezone' | translate}}</p>
                        <p>{{ user.timezone }}</p>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card *ngIf="hasDetails">
                <ion-card-header>
                    <ion-card-title>{{ 'core.userdetails' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="inner-content" *ngIf="user.url">
                        <p class="item-heading">{{ 'core.user.url' | translate }}</p>
                        <p>
                            <a class="core-anchor" href="{{user.url}}" core-link>
                                {{ user.url }}
                            </a>
                        </p>
                    </div>
                    <div class="inner-content" *ngIf="interests">
                        <p class="item-heading">{{ 'core.user.interests' | translate }}</p>
                        <p>
                            <ion-badge *ngFor="let interest of interests" role="link" (click)="openInterest(interest)">
                                {{ interest }}
                            </ion-badge>
                        </p>
                    </div>
                    <core-user-profile-field *ngFor="let field of user.customfields" [field]="field" contextLevel="course"
                        [contextInstanceId]="courseId" [courseId]="courseId">
                    </core-user-profile-field>
                </ion-card-content>
            </ion-card>

            <ion-card *ngIf="user.description">
                <ion-card-header>
                    <ion-card-title>{{ 'core.user.description' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="inner-content" *ngIf="user.email">
                        <p>
                            <core-format-text [text]="user.description" contextLevel="user" [contextInstanceId]="user.id">
                            </core-format-text>
                        </p>
                    </div>
                </ion-card-content>
            </ion-card>

        </ion-list>

        <core-empty-box *ngIf="!user || (!hasContact && !hasDetails && !user.description)" icon="fas-user"
            [message]=" 'core.user.detailsnotavailable' | translate">
        </core-empty-box>
    </core-loading>
</ion-content>
