.course {
    background: var(--ion-card-background, var(--ion-background-color, #fff));
    color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative;
    border: var(--ion-card-border-width) solid var(--ion-card-border-color);
    flex-direction: column;
    box-shadow: var(--box-shadow);
    cursor: pointer;

    .img-wrapper {
        width: 100%;
        height: 160px;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .bookmark-btn {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0.7rem;
            border-radius: 50%;
            font-size: 1.2rem;
            background: var(--ion-color-light);
            color: var(--ion-color-light-contrast);

            &.active {
                background: var(--ion-color-primary);
                color: var(--ion-color-primary-contrast);
            }
        }

        .badge {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background: var(--ion-color-warning);
            color: var(--ion-color-warning-contrast);
            margin: 0.7rem;
            padding: 2px 6px;
            line-height: 1;
            border-radius: 7px;
            font-weight: 600;
            font-size: 0.8rem;

            ion-icon {
                position: relative;
                bottom: -2px;
                margin-right: 3px;
            }
        }
    }

    .content {
        flex: 1;
        padding: 0.8rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;

        .content-type {
            font-size: 0.7rem;
            color: var(--ion-color-step-500);
            margin-left: 2px;
            line-height: 1;
        }

        .category_name {
            font-size: 0.76rem;
            line-height: 1.2;
            background-color: rgba(var(--ion-color-primary-rgb), 0.1);
            padding: 4px 8px;
            border-radius: 4px;
            color: var(--ion-color-primary);
            display: inline-block;
            margin-bottom: 8px;
            font-weight: 600;
        }

        .title {
            --lines: 1;
            --font-size: 1rem;
            --line-height: 1.1;

            margin-top: 6px;
            margin-bottom: 10px;
            font-size: var(--font-size);
            line-height: var(--line-height);
            height: calc(var(--font-size) * var(--line-height) * var(--lines));
        }

        .teacher {
            font-size: 0.9rem;
            color: var(--ion-color-step-500);
            margin-left: 2px;
            line-height: 1;
            height: calc(0.9rem * 1);

            span {
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .description {
            display: none;
        }

        .course-rating {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            --color: #FF9800;

            ion-icon {
                margin-right: 4px;
                color: var(--ion-color-step-400);

                &.active {
                    color: var(--color);
                }
            }

            .rating,
            .rating-count {
                font-size: 0.8rem;
                margin-top: 4px;
            }

            .rating {
                font-weight: 600;
                color: var(--color);
                margin-right: 4px;
            }

            .rating-count {
                color: var(--ion-color-step-500);

            }
        }

        .course-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            flex-wrap: wrap;
            margin-top: 4px;

            .meta-item {
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                span {
                    color: var(--ion-color-step-500);
                    font-size: 0.7rem;
                }
            }
        }

        core-progress-bar {
            --progressbar-background: var(--ion-color-step-200);
        }
    }

    &.list {
        flex-direction: row;

        .img-wrapper {
            width: 40%;
            height: unset;
            min-height: 160px;
        }

        .content {
            padding: 0.8rem;

            .title {
                --lines: 2;
            }

            .description {
                display: block;
                --lines: 4;
                font-size: 0.9rem;
                color: var(--ion-color-step-500);
                margin-left: 2px;
                line-height: 1.1;
                height: calc(0.9rem * 1.1 * var(--lines));
                margin-top: 14px;
            }
        }
    }
}
