.course {
    background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative;
    border: 1px solid var(--ion-card-border-color);
    flex-direction: column;

    .img-wrapper {
        width: 100%;
        height: 160px;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .bookmark-btn {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0.8rem;
            border-radius: 50%;
            font-size: 1.2rem;
            background: var(--ion-color-light);
            color: var(--ion-color-light-contrast);

            &.active {
                background: var(--ion-color-primary);
                color: var(--ion-color-primary-contrast);
            }
        }
    }

    .content {
        flex: 1;
        padding: 0.8rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;

        .content-type {
            font-size: 0.7rem;
            color: var(--gray-500);
            margin-left: 2px;
            line-height: 1;
        }

        .title {
            margin-top: 6px;
            margin-bottom: 10px;
            font-size: 1.05rem;
            line-height: 1.1;
            height: calc(1.05rem * 1.1);
        }

        .teacher {
            font-size: 0.9rem;
            color: var(--gray-500);
            margin-left: 2px;
            line-height: 1;
            height: calc(0.9rem * 1);

            span {
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .description {
            display: none;
        }

        .course-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            flex-wrap: wrap;
            margin-top: 4px;

            .meta-item {
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

                span {
                    color: var(--gray-500);
                    font-size: 0.7rem;
                }
            }
        }
    }

    &.list {
        flex-direction: row;

        .img-wrapper {
            width: 40%;
            height: unset;
            min-height: 160px;
        }

        .content {
            padding: 0.8rem;

            .description {
                display: block;
                --lines: 4;
                font-size: 0.9rem;
                color: var(--gray-500);
                margin-left: 2px;
                line-height: 1.1;
                height: calc(0.9rem * 1.1 * var(--lines));
                margin-top: 14px;
            }
        }
    }
}
