<div [className]="'course ' + viewmode" (click)="goToCourse()">
    <div class="img-wrapper">
        <img [src]="course['image']" [alt]="course['shortname']">
        <button type="button" class="bookmark-btn" [disabled]="bookmarkBtnDisabled" (click)="toggleBookmark($event)"
            [class.active]="course['bookmarked'] ? true : false">
            <ion-icon [name]="course['bookmarked'] ? 'bookmark' : 'bookmark-outline'"></ion-icon>
        </button>
    </div>
    <div class="content">
        <span class="content-type">COURSE</span>
        <h3 class="title wrap-text">{{course['fullname']}}</h3>
        <div class="teacher wrap-text">
            <span *ngFor="let teacher of course['teachers']">{{teacher['fullname']}}</span>
        </div>
        <div class="course-rating"></div>
        <div class="description wrap-text">
            {{course['shortdescription']}}
        </div>
        <div *ngIf="course['progress'] == -1 || course['progress'] == null" style="height: 20px;"></div>
        <core-progress-bar [progress]="course['progress']"
            *ngIf="course['progress'] != null && course['progress'] != -1"></core-progress-bar>
        <div class="course-footer">
            <div class="meta-item">
                <ion-icon name="people-outline"></ion-icon>
                <span>{{course['studentscount']}}</span>
            </div>
            <div class="meta-item">
                <ion-icon name="calendar-outline"></ion-icon>
                <span>{{course['datetime']}}</span>
            </div>
            <div class="meta-item">
                <ion-icon name="time-outline"></ion-icon>
                <span>{{course['duration']}}</span>
            </div>
        </div>
    </div>
</div>
