core-user-avatar {
    padding: 0;
}

:host-context(ion-tabs.placement-side ion-toolbar) {
    display: none;
}

:host-context(ion-toolbar) core-user-avatar ::ng-deep img,
:host-context(ion-tab-bar) core-user-avatar ::ng-deep img {
    padding: 6px !important;
}

.notification-badge {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 2px 4px;
    font-size: 12px;
}
