@import '~theme/globals.scss';

:host {
    --thumb-height: 260px;

    ion-content {
        position: absolute;
    }

    .core-course-thumb {
        background: var(--course-color, white);
        overflow: hidden;
        text-align: center;
        height: var(--thumb-height);
        position: fixed;
        z-index: -1;
        width: 100%;

        @for $i from 0 to length($core-course-image-background) {
            &.course-color-#{$i} {
                --course-color: var(--core-course-color-#{$i});
                --course-color-tint: var(--core-course-color-#{$i}-tint);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        ion-icon.course-icon {
            padding: 24px;
            font-size: calc(var(--thumb-height) - 48px);
            color: var(--course-color-tint);
        }

        .core-course-category {
            position: absolute;
            bottom: 25px;
            left: 20px;
            font-weight: bold;
            border-radius: 6px;
        }

        .play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            --border-radius: 50%;
            height: 50px;
            width: 50px;

            ion-icon {
                position: relative;
                left: 2px;
            }
        }
    }

    .course-container {
        position: relative;
        top: calc(var(--thumb-height) - var(--big-radius));
        border-radius: var(--big-radius) var(--big-radius) 0 0;
        background-color: var(--ion-background-color);
        box-shadow: var(--drop-shadow-top);
        clip-path: inset(-5px 0px 0px 0px);
    }

    .course-name {
        --background: transparent;

        ion-label {
            margin-bottom: 0px;
        }
    }

    h1 {
        font-size: 20px;
    }

    .core-course-category {
        margin-left: 0;
        margin-right: 0;
    }

    .course-summary {
        color: var(--ion-color-step-500);
    }

    .core-course-dates {
        background: var(--light);
        border-radius: var(--small-radius);
        padding: 8px;
        width: 100%;

        p {
            margin-bottom: 8px;
        }

        p:last-child {
            margin-bottom: 0px;
        }

        ion-icon {
            @include margin-horizontal(null, 8px);
        }
    }

    .meta-data {
        .meta-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 6px;
            font-size: 0.8rem;
            padding-bottom: 8px;

            &:last-child {
                padding-bottom: 0px;
            }

            .title {
                flex: 1;
            }
        }
    }

    .core-customfield {
        margin-bottom: 8px;

        &.core-customfield_textarea {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
        }

        .core-customfieldname {
            @include margin-horizontal(null, 4px);
            font-weight: bold;
            display: inline;
        }

        .core-customfieldvalue {
            display: inline;
        }
    }
}

.course-sections {
    --img-filter: brightness(1);
    // margin: var(--ion-card-vertical-margin) var(--ion-card-horizontal-margin);
    // background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    // color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));
    // border-radius: var(--ion-card-radius);
    // box-shadow: var(--theme-box-shadow);
    // padding-left: 16px;
    // padding-right: 16px;
    // padding-top: 12px;
    // padding-bottom: 16px;
    font-size: 14px;

    .section-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;

        .item-heading {
            flex: 1;
            margin: 0;
            font-size: 1rem;
        }
    }

    .duration {
        font-size: 0.8rem;
        color: var(--ion-color-step-600);

        .dot {
            margin-right: 4px;
            margin-left: 1px;
        }
    }

    .mod {
        display: flex;
        justify-content: space-between;
        margin: 14px 0;
        gap: 5px;
        align-items: center;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .content {
            display: flex;
            flex: 1;
            gap: 6px;
            align-items: center;

            img {
                --size: 20px;
                height: var(--size);
                width: var(--size);
                min-height: var(--size);
                min-width: var(--size);
                object-fit: contain;
                filter: var(--img-filter);
            }

            .item-heading {
                flex: 1;
                margin: 0;
                font-size: 0.8rem;
                font-weight: 400;
            }
        }
    }
}

.teachers-list {
    ion-card-content {
        padding: 9px;
    }

    ion-item {
        --background: transparent;
        --padding-start: 0;
    }

    core-user-avatar {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
