<ion-header class="no-title">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>
        </ion-title>
        <ion-buttons slot="end" *ngIf="isModal">
            <ion-button fill="clear" (click)="closeModal()" [attr.aria-label]="'core.close' | translate">
                <ion-icon slot="icon-only" name="fas-xmark" aria-hidden="true"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" [disabled]="!dataLoaded" (ionRefresh)="refreshData($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>
    <core-loading [hideUntil]="dataLoaded">
        <div *ngIf="course" class="core-course-thumb" #courseThumb>
            <ion-chip color="primary" *ngIf="course.categoryname" class="core-course-category ion-text-nowrap">
                <span class="sr-only">{{ 'core.courses.aria:coursecategory' | translate }}</span>
                <ion-label>
                    <core-format-text [text]="course.categoryname" contextLevel="coursecat" [contextInstanceId]="course.categoryid">
                    </core-format-text>
                </ion-label>
            </ion-chip>
            <img *ngIf="course.courseImage" [src]="course.courseImage" core-external-content alt="" />
            <ion-icon *ngIf="!course.courseImage" name="fas-graduation-cap" class="course-icon" aria-hidden="true">
            </ion-icon>
            <ion-button color="dark" *ngIf="hasIntoVideo" class="play-icon" aria-hidden="true">
                <ion-icon name="fas-play" slot="icon-only"></ion-icon>
            </ion-button>
        </div>
        <div *ngIf="course" class="course-container">
            <div class="list-item-limited-width">
                <ion-item class="ion-text-wrap course-name">
                    <ion-label>
                        <p *ngIf="course.displayname && course.shortname && course.fullname != course.displayname"
                            class="core-course-shortname">
                            <core-format-text [text]="course.shortname" contextLevel="course" [contextInstanceId]="course.id">
                            </core-format-text>
                        </p>
                        <h1>
                            <span class="sr-only">{{ 'core.courses.aria:coursename' | translate }}</span>
                            <core-format-text [text]="course.fullname" contextLevel="course" [contextInstanceId]="course.id">
                            </core-format-text>
                        </h1>
                    </ion-label>
                    <ion-button fill="clear" [href]="courseUrl" core-link [showBrowserWarning]="false"
                        [attr.aria-label]="'core.openinbrowser' | translate" slot="end">
                        <ion-icon name="fas-up-right-from-square" slot="icon-only" aria-hidden="true"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item class="ion-text-wrap" *ngIf="progress !== undefined || course.startdate || course.enddate">
                    <ion-label>
                        <div class="core-course-progress" *ngIf="progress !== undefined">
                            <core-progress-bar [progress]="progress" a11yText="core.course.aria:sectionprogress">
                            </core-progress-bar>
                        </div>
                        <div *ngIf="course.startdate || course.enddate" class="core-course-dates">
                            <core-reminders-date *ngIf="course.startdate" component="course" [instanceId]="course.id" type="coursestart"
                                [label]="'core.course.startdate' | translate" [time]="course.startdate" [title]="course.fullname"
                                [url]="courseUrl">
                            </core-reminders-date>
                            <core-reminders-date *ngIf="course.enddate" component="course" [instanceId]="course.id" type="courseend"
                                [label]="'core.course.enddate' | translate" [time]="course.enddate" [title]="course.fullname"
                                [url]="courseUrl">
                            </core-reminders-date>
                        </div>
                    </ion-label>
                </ion-item>

                <ion-item class="ion-text-wrap" *ngIf="course.summary" detail="false">
                    <ion-label>
                        <core-format-text [text]="course.summary" class="course-summary" collapsible-item contextLevel="course"
                            [contextInstanceId]="course.id">
                        </core-format-text>
                    </ion-label>
                </ion-item>

                <div class="meta-data">
                    <div class="meta-item" *ngFor="let customfield of customfields">
                        <div class="title">{{customfield.name}}</div>
                        <div class="value">{{customfield.value}}</div>
                    </div>
                </div>

                <ion-list *ngIf="course.contacts && course.contacts.length">
                    <ion-item [button]="course.contacts.length >= 5" class="ion-text-wrap" (click)="toggleContacts()"
                        [attr.aria-label]="(contactsExpanded ? 'core.collapse' : 'core.expand') | translate" detail="false">
                        <ion-icon *ngIf="course.contacts.length >= 5" name="fas-chevron-right" flip-rtl slot="start" aria-hidden="true"
                            class="expandable-status-icon" [class.expandable-status-icon-expanded]="contactsExpanded">
                        </ion-icon>
                        <ion-label>
                            <h2 class="item-heading">
                                {{ 'core.teachers' | translate }}
                            </h2>
                        </ion-label>
                    </ion-item>
                    <ng-container *ngIf="contactsExpanded || course.contacts.length < 5">
                        <ion-item button class="ion-text-wrap" *ngFor="let contact of course.contacts" core-user-link [userId]="contact.id"
                            [courseId]="isEnrolled ? course.id : null" [attr.aria-label]="'core.viewprofile' | translate" detail="true">
                            <core-user-avatar [user]="contact" slot="start" [userId]="contact.id" [courseId]="isEnrolled ? course.id : null"
                                [linkProfile]="false">
                            </core-user-avatar>
                            <ion-label>
                                <p class="item-heading">{{contact.fullname}}</p>
                            </ion-label>
                        </ion-item>
                    </ng-container>
                </ion-list>

                <div *ngIf="sections && sections.length">
                    <ion-item class="ion-text-wrap">
                        <ion-label>
                            <h2 class="item-heading">Course content</h2>
                        </ion-label>
                    </ion-item>

                    <div class="course-sections" *ngFor="let section of sections">
                        <div class="section-heading">
                            <h2 class="item-heading wrap-text">{{section.name}}</h2>
                            <div class="duration">
                                <span>
                                    {{section.modules.length}} {{section.modules.length == 1 ? 'Activity' : 'Activities'}}
                                </span>
                                <span *ngIf="section.duration" class="dot">&bull;</span>
                                <span *ngIf="section.duration">{{section.duration}}</span>
                            </div>
                        </div>

                        <div *ngIf="section.modules && section.modules.length">
                            <div class="mod" *ngFor="let module of section.modules">
                                <div class="content">
                                    <img *ngIf="module.modicon" [src]="module.modicon" [alt]="module.name" [title]="module.name"
                                        class="mod-icon" />
                                    <ion-icon *ngIf="!module.modicon" name="fas-circle" aria-hidden="true"></ion-icon>
                                    <h3 class="item-heading wrap-text">{{module.name}}</h3>
                                </div>
                                <div class="duration">{{module.duration}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 70px"></div>
        </div>
    </core-loading>
</ion-content>

<ion-footer *ngIf="course && dataLoaded">
    <div class="list-item-limited-width">
        <ng-container *ngIf="canAccessCourse">
            <ion-button *ngFor="let item of courseMenuHandlers" (click)="openMenuItem(item)" [class]="'ion-text-wrap '+ item.data.class"
                expand="block">
                <ion-icon *ngIf="item.data.icon" [name]="item.data.icon" slot="start" aria-hidden="true"></ion-icon>
                <ion-label>{{item.data.title | translate }}</ion-label>
            </ion-button>
        </ng-container>

        <ion-button expand="block" (click)="enrolMe()" *ngIf="!isEnrolled && (selfEnrolInstances.length > 0 || otherEnrolments)"
            class="ion-text-wrap">
            {{ 'core.courses.enrolme' | translate }}
        </ion-button>

        <ion-card class="core-info-card ion-text-wrap" *ngIf="!isEnrolled && !selfEnrolInstances.length && !otherEnrolments">
            <ion-item>
                <ion-icon name="fas-circle-info" slot="start" aria-hidden="true"></ion-icon>
                <ion-label>{{ 'core.courses.notenrollable' | translate }}</ion-label>
            </ion-item>
        </ion-card>

        <ion-button (click)="openCourse()" *ngIf="!isModal && canAccessCourse" expand="block" fill="outline" class="ion-text-wrap">
            <ion-icon name="fas-eye" slot="start" aria-hidden="true"></ion-icon>
            {{ 'core.course.viewcourse' | translate }}
        </ion-button>
    </div>
</ion-footer>
